<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sem Arvores</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><img id="seta-voltar" src="/img/arrow-left-circle.svg">Sem Arvores</a>
        </div>
    </nav>

    <div class="jumbotrom text-center apresentacao">
        <div class="container">
            <h2>Começando no empreendimento</h2>
            <p class="lead">Como forma de ajudar aqueles que pretendem infressar no mercado de carbono, fizemos essa aplição, que como objetivo mostra quanto sera necessario para plantar diversas arvores e quanto que lhe rendera anualmente</p>
        </div>
    </div>

    <div class="container">
        <form action="#" id="entrada-dados" method="POST">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Escolha da Arvores:</label>
                        <input type="text" class="form-contol" name="dap">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Quantia desejada: </label>
                        <input type="text" class="form-contol" name="altura">
                    </div>
                </div>
                </div>
            </div>
        </form>

        <div class="jumbotron text-center resultado">
            <div class="container">
                <h3>Resultados:</h3>
            </div>
        </div>
    </div>
</body>
</html>